
Scrapping Amazon Website for Book Information/Figuras Power BI/revisao-de-classificacao-de-produto-de-cinco-estrelas-do-cliente_172533-7.jpg
Scrapping Amazon Website for Book Information/Figuras Power BI/kisspng-vector-graphics-book-stock-illustration-logo-research-vector-book-transparent-amp-png-clipart-5cce8c43c04ea6.1155603815570401957877.jpg
Scrapping Amazon Website for Book Information/Figuras Power BI/Business_Finance_Cash_1 copy 12.png
Scrapping Amazon Website for Book Information/Figuras Power BI/book.jpg
Kaggle - Customer Churn Prediction 2020/hung2006.pdf
Kaggle - Customer Churn Prediction 2020/huang2012.pdf
Kaggle - Customer Churn Prediction 2020/.ipynb_checkpoints/Customer_Churn_Detection-checkpoint.ipynb
Job Requirements for a role as Data Scientist/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Scrapping Amazon Website for Book Information/.ipynb_checkpoints/Amazon_Book_Info_Search-checkpoint.ipynb
Scrapping Amazon Website for Book Information/.ipynb_checkpoints/DEV_FILE-checkpoint.ipynb
Scrapping Amazon Website for Book Information/.ipynb_checkpoints/Amazon_Book_Info_Search-checkpoint.ipynb
